# stack n cabal stuffs
.stack-work/
dist-newstyle/
*.cabal.lock
*.cabal
*.hi
*.o

# system
.DS_Store
Thumbs.db

# temp files
*~
*.swp

# my stuffs
research/docs/reports
research/CONTEXT.md

# python environments
tools/python/.venv/